.container, .footer-container, .navbar-container
  flex-grow: 1
  width: 100%
  margin: 0 auto
.container
    margin-top:23px;


@media screen and (min-width: 1088px)
  .footer-container
    max-width: 992px

@media screen and (min-width: 1280px)
  .footer-container
    max-width: 1184px



@media screen and (max-width: 1280px)
  .container
    margin-top:23px;

@media screen and (max-width: 1088px)
  .container
    margin-top:70px;

@media screen and (max-width: 862px)
  .container
    margin-top:85px;


